// FOOTER STYLE
footer.footer {
  padding: 12px;
  font-size: 12px;
  margin-top: 40px;
  background: #3f51b5;
  color: #fff
}

.footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;

  .wshop-footer-logo {
    flex: 1;

    span {
      display: inline-block;
      line-height: 50px;
      margin: 0 40px;
      vertical-align: bottom;
      a {
        font-size: 16px;
        padding: 0;
        text-decoration: none;
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .wshop-footer-angular-logo {
    height: 50px;
  }

  .footer-spacer{
    flex: 1;
  }

  .wshop-footer-copyright {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: column;
    min-width: 225px;
    text-align: center;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// FOOTER STYLE
