<div class="main">
  <mat-form-field class="search-field">
    <input matInput placeholder="Hashtag search" (keyup)="onSearchChange($event)">
  </mat-form-field>
  <div class="tweets-container" *ngIf="!isLoading; else spinner">
    <ngwzp-table-content
      [tweetsLength]="tweetsLength"
      [displayedColumns]="displayedColumns"
      [pagedItems]="pagedItems"
    ></ngwzp-table-content>
    <ngwzp-pager [pager]="pager" (pageChange)="setPage($event)"></ngwzp-pager>

  </div>
  <ng-template #spinner class="spinner">
    <mat-spinner [diameter]="80"></mat-spinner>
  </ng-template>

</div>

