:host {
  flex: 1;
}
.tweets-container {
  width: 100%;
}
.main {
  padding: 20px;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-field {
  display: flex;
  align-self: flex-start;
}
