:host {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  width: 100%;
}

mat-card {
  width: 50%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

form.sign-in {
  display: flex;
  flex-direction: column;
  >* {
    width: 100%;
  }
}

.card-header {
  height: 50px;
}

button {
  width: 100%;
}
